@use "../helpers" as *;

.button {
  padding: rem(10);
  background-color: var(--color-light);
  border: var(--border);
  border-radius: var(--border-radius);

  &--tab {
    background-color: var(--color-gray-10);
    color: var(--color-dark);
    
    @include hover {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &--spin {
    background-color: var(--color-gray-10);
  }
}
