@use '../helpers' as *;

.roulette-content {
  padding: rem(10) rem(16);
  background-color: var(--color-light);
  border: var(--border);
  border-radius: var(--border-radius);

  display: flex;
  row-gap: rem(10);
  flex-direction: column;
  min-height: rem(18.75); 

  &__footer {
    margin-top: auto; 
  }
}
