.roulette-content {
  padding: 10px;
  background-color: var(--color-light);
  border: var(--border);
  border-radius: var(--border-radius);

  &__main {
    // убран display: none отсюда
    .page {
      display: none;

      &--active {
        display: block;
      }
    }
  }

  &__footer {
    // стили футера
  }
}
