.roulette-header {
  padding: 10px;
  background-color: var(--color-light);
  border: var(--border);
  border-radius: var(--border-radius);

  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.02em;
  }
}
