@use "../helpers" as *;

body.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;

  visibility: hidden;
  opacity: 0;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;

  &--active {
    visibility: visible;
    opacity: 1;

    .modal__container {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
  }

  &__container {
    position: relative;
    background-color: var(--color-light);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 90%;
    max-width: 500px;
    max-height: 90vh;
    display: flex;
    flex-direction: column;

    transform: translateY(-30px);
    opacity: 0;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
    z-index: 1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
    border-bottom: 1px solid var(--color-gray-5);
  }

  &__title {
    @include fluid-text(40, 20);

    margin: 0;
    font-weight: 600;
    color: var(--color-dark);
  }

  &__close {
    background: none;
    border: none;
    font-size: rem(30);
    cursor: pointer;
    color: #999;
    line-height: 1;
    padding: 0;
    transition: color 0.2s;

    &:hover {
      color: var(--color-gray-60);
    }
  }

  &__body {
    padding: 24px;
    overflow-y: auto;
    flex: 1;
    color: var(--color-gray-60);
    line-height: 1.5;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    padding: 16px 24px;
    border-top: 1px solid var(--color-gray-5);
  }
}
