@use "../helpers" as *;

.roulette-nav {
  padding: rem(10);
  background-color: var(--color-light);
  border: var(--border);
  border-radius: var(--border-radius);

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
  }

  &__item {
    // если нужно что-то специфичное для ячейки списка
  }

  &__button {
    width: 100%; // позиционирование кнопки внутри панели

    &--active {
      background-color: var(--color-accent);
      color: var(--color-dark);

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
