@use "../helpers" as *;

.roulette-nav {
  padding: rem(10);
  background-color: var(--color-light);
  border: var(--border);
  border-radius: var(--border-radius);

  @include mobile {
    padding: rem(6);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include mobile {
      flex-direction: row;
      gap: 20px;
      justify-content: space-between;
    }
  }

  &__item {
    inset: 0;
    margin: 0;
  }

  &__button {
    width: 100%;

    &--active {
      background-color: var(--color-accent);
      color: var(--color-dark);

      @include hover {
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
