@use '../helpers' as *;

.page {
  display: flex;
  flex-direction: column;
  row-gap: rem(24);
  width: 100%;
  padding: rem(24);

  background-color: var(--color-light);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow)
}
