@use "../helpers" as *;

.tab {
  display: none;

  &--active {
    display: block;
  }

  &__title {
    @include fluid-text(60, 40);
    color: var(--color-dark);
    text-align: center;

    @include mobile-s {
      @include fluid-text(40, 32);
    }
  }

  &__subtitle {
    @include fluid-text(40, 20);
    color: var(--color-gray-60);

    @include mobile {
      margin-bottom: rem(16);
    }
  }
}
